force-app/main/default/flows/Auto_Update_Contrato_After_Convenio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Nueva_Fecha</name>
        <label>Contrato.Fin_Vigente = Nueva_Fecha</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Get_Contrato.Fin_Contrato_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nueva_Fecha_Fin_Contrato__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_Contrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nuevo_Valor</name>
        <label>Contrato.Valor_Vigente = Nuevo_Valor</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Get_Contrato.Valor_Contrato_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nuevo_Valor_Contrato__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Nueva_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Nueva_Fecha_Fin</name>
        <label>Hay nueva fecha fin</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Guardar_Contrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Nueva_Fecha_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nueva_Fecha_Fin_Contrato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nueva_Fecha</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Nuevo_Valor</name>
        <label>Hay nuevo valor de contrato</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Set_Nueva_Fecha_Fin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Nuevo_Valor_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nuevo_Valor_Contrato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nuevo_Valor</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Al crear un Convenio Modificatorio, actualiza los campos Vigente del Contrato padre.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Update Contrato After Convenio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Update Contrato After Convenio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contrato</name>
        <label>Obtener Contrato padre</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Nuevo_Valor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contrato__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contrato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Guardar_Contrato</name>
        <label>Guardar Contrato actualizado</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <inputReference>Get_Contrato</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contrato</targetReference>
        </connector>
        <object>Convenio_Modificatorio__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
